.error-container {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ff4f4b;
    border-radius: 10px;
    gap: 5px;
}

.error-message-container {
    max-width: 250px;
}

.error-message-container p {
    font-size: 20px;
    color: white;
}

.error-container button {
    margin-right: 5px;
    font-size: 20px;
    color: white;
    border-width: 0;
    background-color: transparent;
    padding: 0;
}

.error-button-container button:hover {
    color: black;
    cursor: pointer;
}