.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.log-in-general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #36393e;
    margin-top: 20px;
    height: fit-content;
    width: 600px;
    border-radius: 10px;
}

.log-in-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-title-container h2 {
    font-size: 20px;
    color: white;
}

.log-in-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.log-in {
    display: flex;
    gap: 1em;
}

.input-left-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100px;
}

.input-right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

label {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #424549;
    color: white;
    background-color: #424549;
}

.errors-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.button-container button {
    background-color: #865bd9;
    color: white;
    font-size: 20px;
    border: 2px solid #36393e;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.button-container button:hover {
    background-color: black;
}